body {
    font-family: Arial, Helvetica, sans-serif;
    background: #3ac6df;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container ,.loginContainer, .gradeContainer {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}
button {
    background: #3ac6df;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: lightblue;
}
.gradeTable {
    border: 1;
    border-style: dashed;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    color: black;
}
th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background: #3ac6df;
    color: white
    ;
}