body {
    font-family: Arial, Helvetica, sans-serif;
    background: #090;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container ,.loginContainer, .gradeContainer {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 100px 30px ;
}
input[type="email"], input[type="password"] , button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 1rem;
    width: calc(100% - 4px);
}
button {
    background: #090;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: greenyellow;
}
.errorMessage {
    color: red;
    margin-top: 10px;
}